*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url('/images/background.jpg');
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


h1{
    width: 50px;
    margin: auto;
}

.atl{
    display: inline-block;
    padding: 20px;
    margin-left:10px ;
    background-color: lightblue;
    border-radius: 10px;
    

}

.temperatureATL, .humidityATL, #dateATL
, .windspeedATL, .UVIndexATL, .atl_h3{
    display: inline-block;
    color: black;
    font-weight: bold;
    padding-left: 15px;
}

.atl_div{
    text-align: center;
}
.weekContainer{
    text-align: center;
}

.h3{
    display: inline-block;
    padding: 20px;
    margin-left:10px ;
    background-color: rgb(152, 142, 243, 0.6);
    border-radius: 10px;
}
.h3:hover{
    font-size: 25px;
}

.form_div{
    border: 2px sold lightgrey;
    background-color: rgb(211, 211, 211, 0.7);
}

#searchButton, #cityInput{
    font-size: 20px;
}
